<br>

<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-2 sidenav">

            <h4>Infraction Portal</h4>
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a @Html.ActionLink("Home", "Index", "Home")</a></li>
                <li> <a href="#section3">Tags</a></li>
                <li><a @Html.ActionLink("About", "About", "Home")</a></li>
                <li><a @Html.ActionLink("Contact", "Contact", "Home")</a></li>


            </ul><br>

        </div>



        <!-- List of infractions part -->
        
           
                    <div id="question-mini-list">
                        <div>

                            <div class="question-summary narrow" id="question-summary-51677366">
                                <div onclick="window.location.href=&39;/questions/51677366/looking-for-a-independent-ancient-history-mark-to-track-a-es-index-for-mongo-a&#39;" class="cp">
                                    <div class="votes">
                                        <div class="mini-counts"><span title="0 votes">0</span></div>
                                        <div>votes</div>
                                    </div>
                                    <div class="status unanswered">
                                        <div class="mini-counts"><span title="0 answers">0</span></div>
                                        <div>answers</div>
                                    </div>
                                    <div class="views">
                                        <div class="mini-counts"><span title="2 views">2</span></div>
                                        <div>views</div>
                                    </div>
                                </div>
                                <div class="summary">

                                    <h4><a>@Html.ActionLink("Medical Claims Less Than $50.00 Billing Patient", "Infraction2", "Home")</a></h4>
                                    <!--      <h4><a href="Medicare.chtml" class="question-hyperlink">Medical Claims Less Than $50.00 Billing Patient</a></h4> -->
                                    <div class="tags t-mongodb t-amazon-web-services t-elasticsearch t-design-patterns">

                                        <a href="https://stackoverflow.com/questions/tagged/mongodb" class="btn btn-info btn-xs" title="show questions tagged &#39;mongodb&#39;" rel="tag">Medical Claims</a> <a href="https://stackoverflow.com/questions/tagged/amazon-web-services" class="btn btn-info btn-xs" title="show questions tagged &#39;amazon-web-services&#39;" rel="tag">Medicare Collections</a>

                                    </div>
                                    <div class="started">
                                        <a href="https://stackoverflow.com/questions/51677366/looking-for-a-independent-ancient-history-mark-to-track-a-es-index-for-mongo-a" class="started-link">asked <span title="2018-08-03 17:17:17Z" class="relativetime">1 min ago</span></a>
                                        <a href="https://stackoverflow.com/users/2315423/user2315423">user2315423</a> <span class="reputation-score" title="reputation score " dir="ltr">117</span>
                                    </div>
                                </div>
                            </div>
                            <div class="question-summary narrow" id="question-summary-51677364">
                                <div onclick="window.location.href=&#39;/questions/51677364/getting-error-504-in-test-server-but-not-locally&#39;" class="cp">
                                    <div class="votes">
                                        <div class="mini-counts"><span title="0 votes">0</span></div>
                                        <div>votes</div>
                                    </div>
                                    <div class="status unanswered">
                                        <div class="mini-counts"><span title="0 answers">0</span></div>
                                        <div>answers</div>
                                    </div>
                                    <div class="views">
                                        <div class="mini-counts"><span title="2 views">2</span></div>
                                        <div>views</div>
                                    </div>
                                </div>
                                <div class="summary">

                                    <h4><a>@Html.ActionLink("Incorrect Medical Group Attached", "Infraction2", "Home")</a></h4>

                                    <div class="tags t-spring t-wildfly t-http-status-code-504">
                                        <a href="https://stackoverflow.com/questions/tagged/spring" class="btn btn-info btn-xs" title="show questions tagged &#39;spring&#39;" rel="tag">Payor Change</a> <a href="https://stackoverflow.com/questions/tagged/wildfly" class="btn btn-info btn-xs" title="show questions tagged &#39;wildfly&#39;" rel="tag">Medical Claims</a> <a href="https://stackoverflow.com/questions/tagged/http-status-code-504" class="btn btn-info btn-xs" title="show questions tagged &#39;http-status-code-504&#39;" rel="tag">Electronic Rejections</a>


                                    </div>
                                    <div class="started">
                                        <a href="https://stackoverflow.com/questions/51677364/getting-error-504-in-test-server-but-not-locally" class="started-link">asked <span title="2018-08-03 17:17:14Z" class="relativetime">1 min ago</span></a>
                                        <a href="https://stackoverflow.com/users/4548600/anderson-severo-de-matos">Anderson Severo de Matos</a> <span class="reputation-score" title="reputation score " dir="ltr">1</span>
                                    </div>
                                </div>
                            </div>
                            <div class="question-summary narrow" id="question-summary-51666719">
                                <div onclick="window.location.href=&#39;/questions/51666719/wmimonitorid-converting-the-results-to-ascii&#39;" class="cp">
                                    <div class="votes">
                                        <div class="mini-counts"><span title="2 votes">2</span></div>
                                        <div>votes</div>
                                    </div>
                                    <div class="status answered">
                                        <div class="mini-counts"><span title="1 answer">1</span></div>
                                        <div>answer</div>
                                    </div>
                                    <div class="views">
                                        <div class="mini-counts"><span title="19 views">19</span></div>
                                        <div>views</div>
                                    </div>
                                </div>
                                <div class="summary">

                                    <h4><a>@Html.ActionLink("CMN To Be Attached For Primary Medicare ", "Infraction2", "Home")</a></h4>

                                    <div class="tags t-vbûnet t-wmi-query">
                                        <a href="https://stackoverflow.com/questions/tagged/mongodb" class="btn btn-info btn-xs" title="show questions tagged &#39;mongodb&#39;" rel="tag">Medicare Collection</a> <a href="https://stackoverflow.com/questions/tagged/amazon-web-services" class="btn btn-info btn-xs" title="show questions tagged &#39;amazon-web-services&#39;" rel="tag">Eligibility Verification</a>
                                    </div>
                                    <div class="started">
                                        <a href="https://stackoverflow.com/questions/51666719/wmimonitorid-converting-the-results-to-ascii/?lastactivity" class="started-link">modified <span title="2018-08-03 17:17:14Z" class="relativetime">1 min ago</span></a>
                                        <a href="https://stackoverflow.com/users/7444103/jimi">Jimi</a> <span class="reputation-score" title="reputation score " dir="ltr">4,057</span>
                                    </div>
                                </div>
                            </div>
                            <div class="question-summary narrow" id="question-summary-51677359">
                                <div onclick="window.location.href=#39;/questions/51677359/pattern-table-in-html&#39;" class="cp">
                                    <div class="votes">
                                        <div class="mini-counts"><span title="0 votes">0</span></div>
                                        <div>votes</div>
                                    </div>
                                    <div class="status unanswered">
                                        <div class="mini-counts"><span title="0 answers">0</span></div>
                                        <div>answers</div>
                                    </div>
                                    <div class="views">
                                        <div class="mini-counts"><span title="2 views">2</span></div>
                                        <div>views</div>
                                    </div>
                                </div>
                                <div class="summary">

                                    <h4><a>@Html.ActionLink("BCBS NC Incorrectly Initiating PC ", "Infraction2", "Home")</a></h4>

                                    <div class="tags t-html t-html-table">
                                        <a href="https://stackoverflow.com/questions/tagged/mongodb" class="btn btn-info btn-xs" title="show questions tagged &#39;mongodb&#39;" rel="tag">Electronic Rejections</a> <a href="https://stackoverflow.com/questions/tagged/amazon-web-services" class="btn btn-info btn-xs" title="show questions tagged &#39;amazon-web-services&#39;" rel="tag">Payor Change</a>
                                    </div>
                                    <div class="started">
                                        <a href="https://stackoverflow.com/questions/51677359/pattern-table-in-html" class="started-link">asked <span title="2018-08-03 17:16:53Z" class="relativetime">1 min ago</span></a>
                                        <a href="https://stackoverflow.com/users/8885547/suyashsingh234">suyashsingh234</a> <span class="reputation-score" title="reputation score " dir="ltr">10</span>
                                    </div>
                                </div>
                            </div>
                            <div class="question-summary narrow" id="question-summary-51677355">
                                <div onclick="window.location.href=&#39;/questions/51677355/kendo-chart-stacked-line&#39;" class="cp">
                                    <div class="votes">
                                        <div class="mini-counts"><span title="0 votes">0</span></div>
                                        <div>votes</div>
                                    </div>
                                    <div class="status unanswered">
                                        <div class="mini-counts"><span title="0 answers">0</span></div>
                                        <div>answers</div>
                                    </div>
                                    <div class="views">
                                        <div class="mini-counts"><span title="2 views">2</span></div>
                                        <div>views</div>
                                    </div>
                                </div>
                                <div class="summary">

                                    <h4><a>@Html.ActionLink("Initial Auth Missed ", "Infraction2", "Home")</a></h4>

                                    <div class="tags t-javascript t-jquery t-kendo-ui t-kendo-aspûnet-mvc">
                                        <a href="https://stackoverflow.com/questions/tagged/mongodb" class="btn btn-info btn-xs" title="show questions tagged &#39;mongodb&#39;" rel="tag">Auth</a> <a href="https://stackoverflow.com/questions/tagged/amazon-web-services" class="btn btn-info btn-xs" title="show questions tagged &#39;amazon-web-services&#39;" rel="tag">EQ</a>
                                    </div>
                                    <div class="started">
                                        <a href="https://stackoverflow.com/questions/51677355/kendo-chart-stacked-line" class="started-link">asked <span title="2018-08-03 17:16:47Z" class="relativetime">1 min ago</span></a>
                                        <a href="https://stackoverflow.com/users/2768833/mark">Mark</a> <span class="reputation-score" title="reputation score " dir="ltr">2,947</span>
                                    </div>
                                </div>
                            </div>
                            <div class="question-summary narrow" id="question-summary-51677355">
                                <div onclick="window.location.href=&#39;/questions/51677355/kendo-chart-stacked-line&#39;" class="cp">
                                    <div class="votes">
                                        <div class="mini-counts"><span title="0 votes">0</span></div>
                                        <div>votes</div>
                                    </div>
                                    <div class="status unanswered">
                                        <div class="mini-counts"><span title="0 answers">0</span></div>
                                        <div>answers</div>
                                    </div>
                                    <div class="views">
                                        <div class="mini-counts"><span title="2 views">2</span></div>
                                        <div>views</div>
                                    </div>
                                </div>
                                <div class="summary">

                                    <h4><a>@Html.ActionLink("Delay In Pending Referral Approval ", "Infraction2", "Home")</a></h4>

                                    <div class="tags t-javascript t-jquery t-kendo-ui t-kendo-aspûnet-mvc">
                                        <a href="https://stackoverflow.com/questions/tagged/mongodb" class="btn btn-info btn-xs" title="show questions tagged &#39;mongodb&#39;" rel="tag">PAP</a> <a href="https://stackoverflow.com/questions/tagged/amazon-web-services" class="btn btn-info btn-xs" title="show questions tagged &#39;amazon-web-services&#39;" rel="tag">Onshore</a>      <a href="https://stackoverflow.com/questions/tagged/amazon-web-services" class="btn btn-info btn-xs" title="show questions tagged &#39;amazon-web-services&#39;" rel="tag">Escalation</a>
                                    </div>
                                    <div class="started">
                                        <a href="https://stackoverflow.com/questions/51677355/kendo-chart-stacked-line" class="started-link">asked <span title="2018-08-03 17:16:47Z" class="relativetime">1 min ago</span></a>
                                        <a href="https://stackoverflow.com/users/2768833/mark">Mark</a> <span class="reputation-score" title="reputation score " dir="ltr">2,947</span>
                                    </div>
                                </div>
                            </div>
                            <div class="question-summary narrow" id="question-summary-51677355">
                                <div onclick="window.location.href=&#39;/questions/51677355/kendo-chart-stacked-line&#39;" class="cp">
                                    <div class="votes">
                                        <div class="mini-counts"><span title="0 votes">0</span></div>
                                        <div>votes</div>
                                    </div>
                                    <div class="status unanswered">
                                        <div class="mini-counts"><span title="0 answers">0</span></div>
                                        <div>answers</div>
                                    </div>
                                    <div class="views">
                                        <div class="mini-counts"><span title="2 views">2</span></div>
                                        <div>views</div>
                                    </div>
                                </div>
                                <div class="summary">

                                    <h4><a>@Html.ActionLink("Referral/Patient Demo Information Missing/Incorrect ", "Infraction2", "Home")</a></h4>

                                    <div class="tags t-javascript t-jquery t-kendo-ui t-kendo-aspûnet-mvc">
                                        <a href="https://stackoverflow.com/questions/tagged/mongodb" class="btn btn-info btn-xs" title="show questions tagged &#39;mongodb&#39;" rel="tag">Resupply/PAP-EQ</a> <a href="https://stackoverflow.com/questions/tagged/amazon-web-services" class="btn btn-info btn-xs" title="show questions tagged &#39;amazon-web-services&#39;" rel="tag">FI</a>
                                    </div>
                                    <div class="started">
                                        <a href="https://stackoverflow.com/questions/51677355/kendo-chart-stacked-line" class="started-link">asked <span title="2018-08-03 17:16:47Z" class="relativetime">1 min ago</span></a>
                                        <a href="https://stackoverflow.com/users/2768833/mark">Mark</a> <span class="reputation-score" title="reputation score " dir="ltr">2,947</span>
                                    </div>
                                </div>
                            </div>
                            <div class="question-summary narrow" id="question-summary-51677355">
                                <div onclick="window.location.href=&#39;/questions/51677355/kendo-chart-stacked-line&#39;" class="cp">
                                    <div class="votes">
                                        <div class="mini-counts"><span title="0 votes">0</span></div>
                                        <div>votes</div>
                                    </div>
                                    <div class="status unanswered">
                                        <div class="mini-counts"><span title="0 answers">0</span></div>
                                        <div>answers</div>
                                    </div>
                                    <div class="views">
                                        <div class="mini-counts"><span title="2 views">2</span></div>
                                        <div>views</div>
                                    </div>
                                </div>
                                <div class="summary">
                                    <h4><a>@Html.ActionLink("Machine Model/Make Not Verified ", "Infraction", "Home")</a></h4>


                                    <div class="tags t-javascript t-jquery t-kendo-ui t-kendo-aspûnet-mvc">
                                        <a href="https://stackoverflow.com/questions/tagged/mongodb" class="btn btn-info btn-xs" title="show questions tagged &#39;mongodb&#39;" rel="tag">Sleep CS</a> <a href="https://stackoverflow.com/questions/tagged/amazon-web-services" class="btn btn-info btn-xs" title="show questions tagged &#39;amazon-web-services&#39;" rel="tag">EQ</a>
                                    </div>
                                    <div class="started">
                                        <a href="https://stackoverflow.com/questions/51677355/kendo-chart-stacked-line" class="started-link">asked <span title="2018-08-03 17:16:47Z" class="relativetime">1 min ago</span></a>
                                        <a href="https://stackoverflow.com/users/2768833/mark">Mark</a> <span class="reputation-score" title="reputation score " dir="ltr">2,947</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

                <!-- Sidebar -->


                <br>

                <!-- FOOTER -->
                <div class="container-fluid footer marg30">
                    <div class="container">
                        <!-- FOOTER COLUMN ONE -->
                        <div class="col-xs-12 col-sm-4 col-md-4 margin-top-20">
                            <div class="panel-transparent">
                                <div class="footer-heading">How it works</div>
                                <div class="footer-body">
                                    <ul>
                                        <li> <a href="single-category.html">Details about infraction portal</a> </li>
                                        <li> <a href="single-category.html">one touch solution for all</a> </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                        <!-- END FOOTER COLUMN ONE -->
                        <!-- FOOTER COLUMN TWO -->
                        <div class="col-xs-12 col-sm-4 col-md-4 margin-top-20">
                            <div class="panel-transparent">
                                <div class="footer-heading">Categories</div>
                                <div class="footer-body">
                                    <ul>
                                        <li> <a href="single-category.html">General</a> </li>
                                        <li> <a href="single-category.html">Getting Started</a> </li>
                                        <li> <a href="single-category.html">Account Support</a> </li>
                                        <li> <a href="single-category.html">Guides</a> </li>
                                        <li> <a href="single-category.html">Payment &amp; Billing</a> </li>
                                        <li> <a href="single-category.html">Misc</a> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- END FOOTER COLUMN TWO -->
                        <!-- FOOTER COLUMN THREE -->
                        <div class="col-xs-12 col-sm-4 col-md-4 margin-top-20">
                            <div class="panel-transparent">
                                <div class="footer-heading">Popular Articles</div>
                                <div class="footer-body">
                                    <ul>
                                        <li> <a href="single-article.html">How to change account password</a> </li>
                                        <li> <a href="single-article.html">How to edit order details</a> </li>
                                        <li> <a href="single-article.html">Add new user</a> </li>
                                        <li> <a href="single-article.html">Change customer details</a> </li>
                                        <li> <a href="single-article.html">Lookup existing customer in order form</a> </li>
                                        <li> <a href="single-article.html">How do I reset my password</a> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- END FOOTER COLUMN THREE -->
                    </div>
                </div>
                <!-- END FOOTER -->
                <!-- COPYRIGHT INFO -->
                <div class="container-fluid footer-copyright marg30">
                    <div class="container">
                        <div class="pull-left">
                            Copyright © 2018 HCL Infraction portal</a>
                        </div>
                        <div class="pull-right">
                            <i class="fa fa-facebook"></i> &nbsp;
                            <i class="fa fa-twitter"></i> &nbsp;
                            <i class="fa fa-linkedin"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
